<div class="row d-flex justify-content-center align-items-center p-5">
  <div class="col-xs-9 col-sm-6 col-md-5 col-lg-5 shadow-lg mb-5 bg-white p-3"
  style="border-radius: 5%; opacity: .95;">
    <h4 class="text-center">Login</h4>
    <hr>
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{alertMsg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isError">
      Invalid email or password, try again or register
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group ">
        <label for="exampleInputEmail1">User ID</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="username"
          aria-describedby="emailHelp" placeholder="Enter user"
           name="PreventChromeAutocomplete" autocomplete="address-level4">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
          placeholder="Password"  name="x-field-2" autocomplete="new-field-2">
      </div>
      <div class="form-group">
        <label for="branch">Branch</label>
        <!-- <small class="text-muted ml-4">IP - {{ipAddress.ip}}</small> -->
      <select [disabled]="brnDtls.length > 0" id="branch" class="form-control form-control-sm" formControlName="branch">
        <option  *ngFor="let option of brnDtls;let i = index" [value]="option.brn_cd">{{ option.brn_name }}</option>
      </select>
      </div>
      <button type="button" class="btn btn-light " (click)="cancel()">Cancel</button>
      <button *ngIf="showUnlockUsr" type="button" class="btn btn-primary ml-1" (click)="unlockUsr()">Un-lock User</button>
      <button type="submit" class="btn btn-primary float-right" [disabled]=!loginForm.valid>Login</button>
    </form>
    <hr />
    <!-- <a routerLink="" class="text-info float-left">Forgot Password</a> -->
    <!-- <a routerLink="/register" class="text-info float-right">Register</a> -->
  </div>
</div>
<loading *ngIf="isLoading"></loading>
