<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Retrieve Voucher</h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{alertMsg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="reportcriteria">
      <div>
        <label for="fromDate">From Date</label>
        <div class="input-group">
          <!-- <input id="fromDate" class="form-control" placeholder="yyyy-mm-dd" name="fd" [ngModel]="fromdate  | date:'yyyy-MM-dd' " formControlName="fromDate"
            id="fd" type="date"> -->
            <input type="text" placeholder="dd/mm/yyyy" class="form-control" [ngModel]="fromdate" disabled bsDatepicker
            formControlName="fromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }"
            [isOpen]="isOpenFromDp">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="isOpenFromDp = !isOpenFromDp">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <label for="voucherNo">Voucher No</label>
        <div class="input-group">
          <input id="voucherNo" class="form-control" name="vn" formControlName="voucherNo" id="vn" type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="Submit()">Submit</button>
    <button class="btn btn-light" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #contentbatch let-modal bd-example-modal-lg>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Retrieve All Voucher</h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Default inline 1-->

    <div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="U" name="app_flg" [(ngModel)]="app_flg" value="U"
          (change)="changeAppFlg()" mdbInput>
        <label class="custom-control-label" for="U"><strong>UnApproved</strong></label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="A" name="app_flg" [(ngModel)]="app_flg" value="A"
          (change)="changeAppFlg()" mdbInput>
        <label class="custom-control-label" for="A"><strong>Approved</strong></label>
      </div>
    </div>



    <table class="table table-sm table-hover">
      <tr *ngFor="let item of tvnRetFilter; let i = index;"title="Click to Select"  (click)="OpenVoucher(item)" style="cursor: pointer;">
        <td>{{item.voucher_id}}</td>
        <td>{{item.narrationdtl}}</td>
        <td>{{item.transaction_type}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="Submit()">Submit</button>
    <button class="btn btn-light" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>
  <loading *ngIf="isLoading"></loading>
  
  <div class="row d-flex justify-content-center align-items-center pt-4"
    style="background-color: #78c2ad21; min-height: 20vh;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
      <div>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRetrieve"
          (click)="Retrieve()">Retrieve</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRetrieveBatch"
          (click)="RetrieveBatch()">Retrieve Batch</button>
        <!-- <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isNew"
          (click)="New()">New</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRemove"
          (click)="Remove()">Delete</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"
          [disabled]="(!onVoucherCreation.valid || isSave) ? true : false" (click)="Save()">Save</button> -->
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isApprove"
          (click)="Approve()">Approve</button>
        <!-- <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isClear"
          (click)="Clear()">Clear</button> -->
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()"
          style="position: absolute;right: 10px;">Close</button>
        <!-- <input type="text" value="{{ getTotalCr() }}" />
    <input type="text" value="{{ getTotalCr() }}" /> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 shadow-sm mb-4 bg-white p-3">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
         {{alertMsg}}
        <button type="button" class="close " data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group">
        <div class="form-group col-xs-12">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>
                  <h6>Voucher ID :</h6>
                  <h3> {{_voucherId}} </h3>
                </td>
                <td>
                  <h6>Voucher Dt : </h6>
                  <h3>{{_voucherDt | date}}</h3>
                </td>
                <td *ngIf="!insertMode">
                  <h6>Voucher Type : </h6>
                  <h3>{{_voucherTyp}}</h3>
                </td>
                <td *ngIf="insertMode">
                  <h6>Voucher Type : </h6>
                  <h3>
                    <select name="voucherTyp" class="rounded-inputs20 select-select col-md-6"
                      (change)="onChange($event.target.value)">
                      <option >Select..</option>
                      <option value="C">Cash</option>
                      <option value="L">Clearing</option>
                      <option value="T">Transfer</option>
                    </select>
                  </h3>
                </td>
                <td>
                  <h6>Approval Status : </h6>
                  <h3>{{_approvalSts}}</h3>
                </td>
              </tr>
            </thead>
          </table>
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td style="width: 10%"><b>Debit/Credit</b></td>
                <td style="width: 10%"><b>Account Code</b></td>
                <td style="width: 40%"><b>Description</b></td>
                <td style="width: 10%"><b>Debit Amount</b></td>
                <td style="width: 10%"><b>Credit Amount</b></td>
                <td style="width: 10%"><b></b></td>
              </tr>
            </tbody>
          </table>
  
          <div [formGroup]="onVoucherCreation">
            <table class="table table-bordered table-striped --head-bg-metal">
              <!-- <div formArrayName="VoucherF" *ngFor="let item of onVoucherCreation.get('VoucherF').controls; let i = index;"> -->
              <tbody>
                <tr formArrayName="VoucherF" *ngFor="let item of voucherData.controls; let i = index;">
                  <div [formGroupName]="i">
                    <td style="width: 10%"><input formControlName="dr_cr" type="text" disabled class="form-control fonm-control-sm"></td>
                    <td style="width: 10%"><input formControlName="acc_cd" type="text" disabled class="form-control form-control-sm"></td>
                    <td style="width: 40%">
                      <!-- <div class="ng-autocomplete"> -->
                      <ng-autocomplete [data]="maccmaster" [searchKeyword]="keyword" disabled placeHolder="Account Name"
                        (selected)='selectEvent($event,i)' (inputChanged)='onChangeSearch($event,i)'
                        (inputFocused)='onFocused($event)' historyIdentifier="maccmaster" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" formControlName="desc">
                      </ng-autocomplete>
                      <ng-template #itemTemplate let-item>
                        <table>
                          <tbody>
                            <tr>
                              <td style="width: 10%"><a [innerHTML]="item.acc_type"></a> </td>
                              <td style="width: 20%"><a [innerHTML]="item.acc_cd"></a> </td>
                              <td style="width: 70%"><a [innerHTML]="item.acc_name"></a> </td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-template>
  
                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                      <!-- </div> -->
                    </td>
                    <!-- <td style="width: 40%"><input formControlName="desc"  type="text" class="form-control"></td> -->
                    <td style="width: 10%"><input formControlName="dr_amt" disabled (input)="drAmountInput(i,$event)" type="number"
                        class="form-controlc"></td>
                    <td style="width: 10%"><input formControlName="cr_amt" disabled (input)="crAmountInput(i,$event)" type="number"
                        class="form-control form-control-sm"></td>
                    <!-- <td style="width: 10%"><button class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"
                        (click)="RemoveItem(i)" [disabled]="isDel">Del</button> 
                      <button  class="btn btn-rounded btn-primary btn-primary-spacing" >Edit</button>  
                    </td>-->
                  </div>
                </tr>
              </tbody>
              <!-- </div> -->
            </table>
          </div>
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <!-- <td style="width: 10%"><b></b></td>
                  <td style="width: 10%"><b></b></td> -->
                <td style="width: 60%"><b>Grand Total</b></td>
                <td style="width: 10%"><b>{{ getTotalDr()}}</b></td>
                <td style="width: 10%"><b>{{ getTotalCr()}}</b></td>
                <!-- <td style="width: 10%"><b><button class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"
                      (click)="AddNew()" [disabled]="isAddNew">Add</button></b></td> -->
              </tr>
            </tbody>
          </table>
          <div>
            <label><strong>Narration</strong></label>
            <input name="narr" value="{{_voucherNarration}}" [(ngModel)]="_voucherNarration" type="text"
              class="form-control form-control-sm">
          </div>
  
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 shadow-sm mb-4 bg-white p-3">
      <div>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRetrieve"
          (click)="Retrieve()">Retrieve</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRetrieveBatch"
          (click)="RetrieveBatch()">Retrieve Batch</button>
        <!-- <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isNew"
          (click)="New()">New</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isRemove"
          (click)="Remove()">Delete</button>
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm"
          [disabled]="(!onVoucherCreation.valid || isSave) ? true : false" (click)="Save()">Save</button> -->
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isApprove"
          (click)="Approve()">Approve</button>
        <!-- <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" [disabled]="isClear"
          (click)="Clear()">Clear</button> -->
        <button type="button" class="btn btn-rounded btn-primary btn-primary-spacing btn-sm" (click)="closeScreen()"
          style="position: absolute;right: 10px;">Close</button>
        <!-- <input type="text" value="{{ getTotalCr() }}" />
    <input type="text" value="{{ getTotalCr() }}" /> -->
      </div>
    </div>
  </div>
  
  
  