<div class="row d-flex justify-content-center align-items-center"
  style="background-color: #78c2ad21; text-align: center;">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 mb-2 bg-white p-1">
    <button type="button" [disabled]="undefined === selectedVm" class="btn btn-primary btn-sm ml-1 mr-1"
      (click)="onApproveClick()">Approve</button>
    <!-- <button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Set Filter</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Remove Filter</button> -->
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1"
    (click)="onClickRefreshList()">Refresh List</button>
    <button type="button" [disabled]="undefined === selectedVm"
    class="btn btn-primary btn-sm ml-1 mr-1" (click)="onDeleteClick()">Delete</button>
   <button type="button" [disabled]="undefined === selectedVm"
    class="btn btn-primary btn-sm ml-1 mr-1" (click)="openModal(kycContent)" >Kyc</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onBackClick()">Back</button>
  </div>
</div>
<loading *ngIf="isLoading"></loading>
<div class="row d-flex justify-content-center align-items-center"
  style="background-color: #78c2ad21; min-height: 90vh;">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3">
    <div *ngIf="showMsg && showMsg.Show" class="col-12">
      <div class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': showMsg.Type === 0,
       'alert-warning':showMsg.Type === 1, 'alert-info':showMsg.Type === 2, 'alert-danger':showMsg.Type === 3 }">
        <strong>{{showMsg.Message}}</strong>
        <button type="button" class="close" data-dismiss="alert" (click)="showMsg = null" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12 ">
            <h6 style="background-color:lightskyblue">Unapproved Trasanction List</h6>
            <div class=" row">
              <div class="form-row">
                <div class="form-group col-6 offset-1">
                  <small ><i class="fa fa-filter" aria-hidden="true"></i> Tran Cd OR Account No</small>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="toFltrTrnCd" placeholder="Tran Cd or Account No"
                  (input)="acctNumberAndTrnCdFilter($event.target.value)">
                </div>
                <div class="form-group col-5">
                  <small ><i class="fa fa-filter" aria-hidden="true"></i> Account Type</small>
                  <select id="title" class="form-control form-control-sm"
                  (change)="onChangeAcctType($event.target.value)" [(ngModel)]="toFltrAccountTyp">
                  <option *ngIf="uniqueAccTypes" selected value="-99">All</option>
                  <option *ngFor="let accType of uniqueAccTypes " [value]="accType.acc_type_cd">
                    {{accType.acc_type_cd +' ' +accType.acc_type_desc}}</option>
                </select>
                </div>

              </div>
            </div>
            <div class="table-responsive" class="scroll-when-long">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Tran Cd</th>
                    <th scope="col">Account</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Acc Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let unApprovedTran of filteredVm" title="Click to Select" style="cursor: pointer;"
                    (click)="selectTransaction(unApprovedTran)"
                    [class.table-active]="unApprovedTran.td_def_trans_trf.trans_cd === selectedTransactionCd">
                    <td>{{unApprovedTran.td_def_trans_trf.trans_cd}}</td>
                    <td>{{unApprovedTran.td_def_trans_trf.acc_num}}</td>
                    <td>{{unApprovedTran.td_def_trans_trf.amount | number: '.2-2'}}</td>
                    <td>{{unApprovedTran.mm_acc_type.acc_type_desc}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
          <!-- <div class="col-12">

          </div> -->
        </div>
      </div>
      <div class="col-4">
        <div class="12">
          <!-- <app-customer-info [mode1]="true" [mode2]="true" [title]="custTitle"></app-customer-info> -->
          <div>
            <form [formGroup]="custMstrFrm">
              <!-- <h6 *ngIf="title">{{title}}</h6> -->
              <h6 style="background-color:lightskyblue">Personal Information</h6>
              <div class="form-row">
                <div class="form-group col-12">
                  <small for="cust_name">Customer Name</small>
                  <input type="text" class="form-control form-control-sm" formControlName="cust_name" id="cust_name"
                   disabled>
                </div>
                <div class="form-group  col-12">
                  <small for="guardian_name">Guardian Name</small>
                  <input type="text" class="form-control form-control-sm text-capitalize" formControlName="guardian_name" id="guardian_name"
                     disabled>
                </div>
                <div class="form-group  col-6">
                  <small for="dt_of_birth">Date Of Birth</small>
                  <input type="text" class="form-control form-control-sm" formControlName="dt_of_birth"
                  id="dt_of_birth"  disabled>
                  <!-- <small>{{f.dt_of_birth.value | date:"MM/dd/yyyy"}}</small> -->
                </div>
                <div class="form-group col-6">
                  <small for="catg_cd">Category</small>
                  <input type="text" class="form-control form-control-sm" formControlName="catg_desc" id="catg_desc"
                     disabled>
                </div>
                <div class="form-group col-12">
                  <small for="present_address">Address</small>
                  <input type="text" class="form-control form-control-sm" id="present_address" formControlName="present_address"
                    disabled>
                </div>
              </div>
              <button type="button" class="btn btn-link" (click)="openModal(addInfcontent)"
              *ngIf="undefined !== selectedVm && undefined !== selectedVm.tm_deposit && selectedVm.tm_deposit.acc_num.length > 0"
              >Additional Information</button>
            </form>
            <ng-template #addInfcontent>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Additional Information for Acc# {{selectedVm.tm_deposit.acc_num}}
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngIf="fetchingAddInf">
                  <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div *ngIf="!fetchingAddInf">
                  <h6 style="background-color:lightskyblue">Signatory</h6>
                  <div *ngIf="additionalInformation.tdsignatory.length > 0">
                    <table class="table table-hover table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Account Number</th>
                          <th scope="col">Signatory Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let signatory of additionalInformation.tdsignatory">
                          <td>{{signatory.acc_num}}</td>
                          <td>{{signatory.signatory_name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="!(additionalInformation.tdsignatory.length > 0)">
                    <small>No Signatory present</small>
                  </div>
                  <hr>
                  <h6 style="background-color:lightskyblue">Joint Holder(s)</h6>
                  <div *ngIf="additionalInformation.tdaccholder.length > 0">
                    <table class="table table-hover table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Cust Code</th>
                          <th scope="col">Account Holder</th>
                          <th scope="col">Relation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let jointHolder of additionalInformation.tdaccholder">
                          <td>{{jointHolder.cust_cd}}</td>
                          <td>{{jointHolder.acc_holder}}</td>
                          <td>{{jointHolder.relation}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="!(additionalInformation.tdaccholder.length > 0)">
                    <small>No Joint Holder(s) present</small>
                  </div>
                  <hr>
                  <h6 style="background-color:lightskyblue">Introducer(s)</h6>
                  <div *ngIf="additionalInformation.tdintroducer.length > 0">
                    <table class="table table-hover table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Account Type</th>
                          <th scope="col">Account Number</th>
                          <th scope="col">Introducer Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let intro of additionalInformation.tdintroducer">
                          <td>{{intro.AccTypeDesc.length > 0 ? intro.AccTypeDesc : intro.acc_type_cd}}</td>
                          <td>{{intro.acc_num}}</td>
                          <td>{{intro.introducer_name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="!(additionalInformation.tdintroducer.length > 0)">
                    <small>No Introducer(s) present</small>
                  </div>
                  <hr>
                  <h6 style="background-color:lightskyblue">Nominee(s)</h6>
                  <div *ngIf="additionalInformation.tdnominee.length > 0">
                    <table class="table table-hover table-bordered table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Address</th>
                          <th scope="col">Percentage</th>
                          <th scope="col">Relation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nominee of additionalInformation.tdnominee">
                          <td>{{nominee.nom_name}}</td>
                          <td>{{nominee.nom_addr1 + ' ' + (nominee.nom_addr2 === null ? '' : nominee.nom_addr2)}}</td>
                          <td>{{nominee.percentage}}</td>
                          <td>{{nominee.relation}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="!(additionalInformation.tdnominee.length > 0)">
                    <small>No Nominee(s) present</small>
                  </div>
                </div>

              </div>
            </ng-template>
          </div>

          <hr>
        </div>
        <div class="12">
          <!-- <app-account-details></app-account-details> -->
          <form [formGroup]="accDtlsFrm">
            <h6 style="background-color:lightskyblue">Account Details</h6>
            <div class="form-row">
              <!-- <div class="form-group col-12">
                <small for="acc_num">Name</small>
                <input type="text" class="form-control form-control-sm" formControlName="acc_num" id="acc_num"
                  placeholder="Name" disabled>
              </div> -->
              <div class="form-group col-6">
                <small for="constitution_cd">Constitution</small>
                <input type="text" class="form-control form-control-sm" formControlName="constitution_cd" id="constitution_cd"
                hidden disabled>
              <input type="text" class="form-control form-control-sm" formControlName="constitution_cd_desc"
                id="constitution_cd_desc" disabled>
              </div>
              <div class="form-group col-6">
                <small for="dep_period">Deposit Period</small>
                <input type="text" class="form-control form-control-sm" formControlName="dep_period" id="dep_period"
                   disabled>
              </div>
              <div class="form-group col-6">
                <small for="opening_dt">Opening Date</small>
                <input type="text" class="form-control form-control-sm" formControlName="opening_dt" id="opening_dt"
                  disabled>
              </div>
              <div class="form-group col-6">
                <small for="mat_dt">Maturity Date</small>
                <input type="text" class="form-control form-control-sm" formControlName="mat_dt" id="mat_dt"
                   disabled>
              </div>
              <div class="form-group col-6">
                <small for="prn_amt">Principal Amount</small>
                <input type="text" class="form-control form-control-sm" formControlName="prn_amt" id="prn_amt"
                  disabled>
              </div>
              <div class="form-group col-6">
                <small for="clr_bal">Cleared Balance</small>
                <input type="text" class="form-control form-control-sm" formControlName="clr_bal" id="clr_bal" disabled>
              </div>
              <div class="form-group col-6">
                <small for="curr_bal">Current Balance</small>
                <input type="text" class="form-control form-control-sm" formControlName="curr_bal" id="curr_bal" disabled>
              </div>
              <div class="form-group col-6">
                <small for="oprn_instr_cd">Operation</small>
                <input type="text" class="form-control form-control-sm" formControlName="oprn_instr_cd" id="oprn_instr_cd"
                  disabled hidden>
                <input type="text" class="form-control form-control-sm" formControlName="oprn_instr_cd_desc"
                  id="oprn_instr_cd_desc" disabled>
              </div>

              <div class="form-group col-6">
                <small for="intt_rt">Interest Rate</small>
                <input type="text" class="form-control form-control-sm" formControlName="intt_rt" id="intt_rt"
                   disabled>
              </div>
              <div class="form-group col-6">
                <small for="intt_amt">Interest Amount</small>
                <input type="text" class="form-control form-control-sm" formControlName="intt_amt" id="intt_amt"
                   disabled>
              </div>
            </div>
            <button type="button" class="btn btn-link" *ngIf="selectedAccountType === 6"
            (click)="openModal(rdinstcontent)">Show Installaments</button>
            <button type="button" class="btn btn-link" *ngIf="selectedAccountType === 2 || selectedAccountType === 5"
            (click)="openModal(tdfdcontent)">Show Installaments</button>
          </form>

        <ng-template #rdinstcontent>
          <div class="modal-header">
            <h4 class="modal-title pull-left">RD Installments Details for Acc# {{selectedVm.tm_deposit.acc_num}}
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-dw-rd-instl-view></app-dw-rd-instl-view>
          </div>
        </ng-template>
        <ng-template #tdfdcontent>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Installments Details for Acc# {{selectedVm.tm_deposit.acc_num}}
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-dw-td-intt-dtls-view> </app-dw-td-intt-dtls-view>
          </div>
        </ng-template>

        <app-dw-renewal-view *ngIf="selectedTransactionMode === 'R'"></app-dw-renewal-view>
          <hr>
        </div>

      </div>
      <div class="col-4">
        <div class="12">
          <!-- <app-transaction-details></app-transaction-details> -->
          <form [formGroup]="transactionDtlsFrm">
            <h6 style="background-color:lightskyblue">Transaction Details</h6>
            <div class="form-row">
              <div class="form-group col-6">
                <small for="acc_type_cd">Account Type</small>
                <input type="text" class="form-control form-control-sm" formControlName="acc_type_cd" id="acc_type_cd" disabled>
              </div>
              <div class="form-group col-6">
                <small for="acc_num">A/C</small>
                <input type="text" class="form-control form-control-sm" formControlName="acc_num" id="acc_num" disabled>
              </div>
              <div class="form-group col-6">
                <small for="trans_type">Transaction Type</small>
                <input type="text" class="form-control form-control-sm" formControlName="trans_type" id="trans_type" disabled>
              </div>
              <div class="form-group col-6">
                <small for="trans_mode">Transaction Mode</small>
                <input type="text" class="form-control form-control-sm" formControlName="trans_mode" id="trans_mode" disabled>
              </div>
              <div class="form-group col-6">
                <small for="amount">Amount </small>
                <input type="text" class="form-control form-control-sm" formControlName="amount" id="amount" disabled>
              </div>
              <div class="form-group col-6">
                <small for="curr_intt_recov">Interest</small>
                <input type="text" class="form-control form-control-sm" formControlName="curr_intt_recov" id="curr_intt_recov"
                  disabled>
              </div>
              <div class="form-group col-6">
                <small for="amount">Total Amount</small>
                <input type="text" class="form-control form-control-sm" formControlName="amount" id="amount" disabled>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <small for="instrument_dt">Instrument Date</small>
                <input type="text" class="form-control form-control-sm" formControlName="instrument_dt" id="instrument_dt"
                  disabled>
              </div>
              <div class="form-group col-6">
                <small for="instrument_num">Instrument Number</small>
                <input type="text" class="form-control form-control-sm" formControlName="instrument_num" id="instrument_num"
                  disabled>
              </div>
              <div class="form-group col-12">
                <small for="paid_to">Paid To</small>
                <input type="text" class="form-control form-control-sm" formControlName="paid_to" id="paid_to" disabled>
              </div>
              <div class="form-group col-6">
                <small for="trf_type">Transfer Type</small>
                <input type="text" class="form-control form-control-sm" formControlName="trf_type" id="trf_type" disabled>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <small for="approval_status">Approval Status</small>
                <input type="text" class="form-control form-control-sm" formControlName="approval_status" id="approval_status"
                  disabled>
              </div>
            </div>
            <button type="button" class="btn btn-link" *ngIf="undefined !== tmDenominationTransLst && tmDenominationTransLst.length > 0" (click)="openModal(content)">
              Denomination Details
            </button>
            <button type="button" class="btn btn-link" *ngIf="undefined !== tranferDetails && tranferDetails.length > 0" (click)="openModal(trfcontent)">
              Transfer Details
            </button>
            <ng-template #content>
              <div class="modal-header text-center">
                <h5 class="modal-title">Denomination Details for Acc#
                  <strong>{{selectedVm.tm_deposit.acc_num}}</strong> and Tran Cd
                  <strong>{{selectedVm.td_def_trans_trf.trans_cd}}</strong>
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">&#8377;</th>
                      <th scope="col">Count</th>
                      <th scope="col">Total &#8377;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let denomination of tmDenominationTransLst">
                      <td>&#8377;{{denomination.rupees}}</td>
                      <td>{{denomination.count}}</td>
                      <td>&#8377;{{denomination.total}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><strong>Total</strong></td>
                      <td><strong>&#8377;{{totalOfDenomination}}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
            <ng-template #trfcontent>
              <div class="modal-header text-center">
                <h5 class="modal-title pull-left">Transfer Details for Acc#
                 <strong>{{selectedVm.tm_deposit.acc_num}}</strong> and Tran Cd
                 <strong>{{selectedVm.td_def_trans_trf.trans_cd}}</strong>
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Acc Typ / Acc No</th>
                      <th scope="col">GL Head</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transfer of tranferDetails">
                      <td *ngIf="transfer.acc_num !== '0000'">{{transfer.acc_type_cd +' - ' +
                        transfer.remarks +' / ' +transfer.created_by + '(' +transfer.acc_num + ')'}}</td>
                      <td *ngIf="transfer.acc_num === '0000'"></td>
                      <td *ngIf="transfer.acc_num !== '0000'"></td>
                      <td *ngIf="transfer.acc_num === '0000'">{{transfer.acc_type_cd + ' - ' + transfer.acc_name}}</td>
                      <td>&#8377;{{transfer.amount}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><strong>Total</strong></td>
                      <td><strong>&#8377;{{totalOfDenomination}}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-center align-items-center"
  style="background-color: #78c2ad21; text-align: center;">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 mb-2 bg-white p-1">
    <button type="button" [disabled]="undefined === selectedVm" class="btn btn-primary btn-sm ml-1 mr-1"
      (click)="onApproveClick()">Approve</button>
    <!-- <button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Set Filter</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Remove Filter</button> -->
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onClickRefreshList()">Refresh List</button>
    <button type="button" [disabled]="undefined === selectedVm"
    class="btn btn-primary btn-sm ml-1 mr-1" (click)="onDeleteClick()">Delete</button>
    <button type="button" [disabled]="undefined === selectedVm"
    class="btn btn-primary btn-sm ml-1 mr-1" (click)="openModal(kycContent)" >Kyc</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onBackClick()">Back</button>
  </div>
</div>

<ng-template #kycContent >
  <div class="modal-header">
    <h4 class="modal-title pull-left">KYC details for Acc# {{selectedVm.tm_deposit.acc_num}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-kyc></app-kyc>
  </div>
</ng-template>
<!-- <loading *ngIf="isLoading"></loading>

<div class="row d-flex justify-content-center align-items-center pt-4"
  style="background-color: #78c2ad21; min-height: 20vh;">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 shadow-lg mb-4 bg-white p-3">
    <div style="display: inline-block;" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 shadow-sm mb-4 bg-white p-3">
      <table>
        <tr *ngFor="let item of tdDepTransGroup;let i=index">
          <td size=12 no-padding>
            <button class="btn btn-primary px-3" (click)="toggleSelection(i)" detail-none [ngClass]="{'section-active': item.open,'section':!item.open}">
              <i class="fab fa-android" aria-hidden="true" item-left name="arrow-forward" *ngIf="!item.open"></i>
              <i class="fab fa-android" aria-hidden="true" item-left name="arrow-down" *ngIf="item.open"></i>
              {{item.acc_type_cd}}
            </button>
          </td>
           <td size=12 no-padding *ngIf="item.open" >
               <table>
                  <tr *ngFor="let child of tdDepTransGroup[i].events; let j=index">
                   <td>
                     <label><h2>{{child.trans_cd}}-{{child.acc_num}}{{child.amount}}</h2></label>
                   </td>
                  </tr>
                </table>
           </td>
            </tr>
      </table>
      <div id="accordion">
        <div class="card">
          <div *ngFor="let item of tdDepTransGroup;let i=index">
            <div class="card-header" id="'header'+i">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="'col'+i" aria-expanded="true"
                  aria-controls="collapseOne">
                  {{item.acc_type_cd}}
                </button>
              </h5>
            </div>

            <div id="'col'+i" class="collapse show" aria-labelledby="'header'+i" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <tr (click)="OnSelectTransaction(child)" *ngFor="let child of tdDepTransGroup[i].events; let j=index">
                    <td>
                      <label>{{child.trans_cd}}-{{child.acc_num}}{{child.amount}}</label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
    <div style="display: inline-block;" class="col-xs-12 col-sm-12 col-md-10 col-lg-10 shadow-sm mb-4 bg-white p-3">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 shadow-sm mb-4 bg-white p-3">
      <div>
        <button type="button" class="btn btn-rounded btn-primary m-1">Download PDF</button>
        <button type="button" class="btn btn-rounded btn-primary m-1">Print</button>
        <button type="button" class="btn btn-rounded btn-primary m-1"
          style="position: absolute;right: 10px;">Close</button>
      </div>
    </div>
  </div>

</div> -->
